<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
    <link rel="stylesheet" href="/nav.css">
    <title>Index</title>
</head>

<body>
    <header>
        <div class="logo">Belgoteek</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/selection">Ma selection</a></li>
                <li><a href="/explore">Explorer</a></li>
                <li><a href="">Contact</a></li>
                <li>
                    <h4 id="name-holder">
                        <% if (typeof user !=='undefined' ) { %>
                            <a>
                                <%= user.username %>
                            </a>
                            <ul>
                                <li><button onclick='location.href="/logout"'>Déconnexion</button></li>
                            </ul>
                            <% } else { %>
                                <a href="/auth">Login</a>
                                <% } %>
                    </h4>
                </li>
            </ul>
            <script>
                hamburger = document.querySelector(".hamburger");
                hamburger.onclick = function () {
                    navBar = document.querySelector(".nav-bar")
                    navBar.classList.toggle("active");
                }
            </script>
        </nav>
    </header>
    <div class="page">
        <div class="container-list">
            <div class="container">
                <% if (typeof user !== 'undefined' && user.role === 'bibliothécaire') { %>
                <h2>Suggestions de Livres</h2>
                <% books.forEach(book => { %>
                    <div class="book-suggestion">
                    <h3><%= book.title %></h3>
                    <p><%= book.summary %></p>
                    <form method="post" action="/review">
                        <input type="hidden" name="bookId" value="<%= book.id %>">
                        <button type="submit">Valider</button>
                    </form>
                    </div>
                <% }); %>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>
