<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/nav.css">
    <title>Index</title>
</head>
<body>
    <header>
        <div class="logo">Belgoteek</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/explore">Explorer</a></li>
                <li><a href="/contact">Contact</a></li>
                <li>
                    <h4 id="name-holder">
                        <% if (typeof user !== 'undefined') { %>
                            <a><%= user.username %></a>
                            <ul><li><button onclick='location.href="/logout"'>Déconnexion</button></li></ul>
                        <% } else { %>
                            <a href="/auth">Login</a>
                        <% } %>
                    </h4>
                </li>
            </ul>
            <script>
                const hamburger = document.querySelector(".hamburger");
                hamburger.onclick = function() {
                    const navBar = document.querySelector(".nav-bar");
                    navBar.classList.toggle("active");
                };
            </script>
        </nav>
    </header>

    <div class="page">
        <% if(user && user.role === 'normal') { %>
            <div class="box">
                <div class="cadre-left">
                    <div class="welcome-message">
                        <h1>Bienvenue <%= user.username %> !</h1>
                    </div>
                    <h2 class="title">Belgoteek est une bibliothèque en ligne qui permet de louer des livres pour une durée de 2 a 6 semaines</h2>
                    <br>
                    <div class="search-container">
                        <form action="/explore" method="GET">
                            <h3>Search Bar :</h3>
                            <br>
                            <input type="text" name="search" placeholder="Rechercher par auteur/titre/ISBN ...">
                            <button type="submit">Rechercher</button>
                        </form>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="container-on">
                        <li>
                            <a class="button" href="/review">Review</a>
                            <a class="button" href="/book">Vos livres</a>
                            <a class="button" href="/suggestion">Vos suggestions</a>
                        </li>
                    </div>
                </div>
                <div class="cadre-right">
                    <h2>Bibliothécaire</h2>
                    <br>
                    <form action="/" method="POST">
                        <label for="password">Si vous travaillez comme bibliothécaire, saisissez votre mot de passe :</label><br>
                        <br>
                        <input class="index__input" type="password" name="password" id="password" required><br>
                        <br>
                        <button class="index__button" type="submit">Confirmer</button>
                    </form>
                </div>
                
            </div>
        <% } else if(user && user.role === 'bibliothécaire') { %>
            <div class="box">
                <div class="cadre-left">
                    <div class="welcome-message">
                        <h1>Bienvenue <%= user.username %> !</h1>
                    </div>
                    <h2 class="title">Belgoteek est une bibliothèque en ligne qui permet de louer des livres pour une durée de 2 a 6 semaines.</h2>
                    <br>
                    <div class="search-container">
                        <form action="/explore" method="GET">
                            <h3>Search Bar :</h3>
                            <br>
                            <input type="text" name="search" placeholder="Rechercher par auteur ou titre...">
                            <button type="submit">Rechercher</button>
                        </form>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="container-on">
                        <li>
                            <a href="/review">Review</a>
                            <a href="/book">Vos livres</a>
                            <a href="/suggestion">vos suggestions</a>
                        </li>
                    </div>
                </div>
                <div class="cadre-right">
                    <h2>Bibliothécaire</h2>
                    <br>
                    <h2>Pour avoir acces a la page "admin" cliquez en sur le boutton en dessous.</h2s>
                    <br>
                    <br>
                    <a class="button" href="/admin">Admin</a>
                </div>
            </div>
        <% } else { %>
            <div class="container-wrapper">
                <div class="container-not-user-1">
                    <h1>Veuillez vous connecter afin de voir votre location de livres</h1>
                    <br>
                    <a class="button" href="/auth">Connexion</a>
                </div>
                    <div class="container-not-user-2">
                    <h1>Vous pouvez toujours regarder la liste de nos livre dans <a href="/explore">Explorer</a> ou rechercher un livre en particulier a l'aide de la la barre de recherche juste en dessous</h1>
                    <div class="search-container-not-user">
                        <form action="/explore" method="GET">
                            <br>
                            <input type="text" name="search" placeholder="Rechercher par auteur ou titre...">
                            <button type="submit">Rechercher</button>
                        </form>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    

</body>
</html>
